body{
    font-size: 14px;
}

canvas{
    border-radius: .25rem;
    border: 1px solid rgba(0,0,0,.125);
}

.dropdown-menu li{
    font-size: 14px;
 }

.toolbar{
    background-color: #fafafa;
    border-bottom: 1px solid #e5e5e5;
}

.menubar{
    border-bottom: 1px solid #e5e5e5;
}

.menubar .nav-item .nav-link{
    padding-top: 3px;
    padding-bottom: 4px;
}

main {
    padding-top: 56px
}

label {
    font-weight: 500 !important;
    letter-spacing: .02em;
}

.btn-group-move label{
    min-width: 36px;
}

.btn-group-speed label{
    min-width: 55px;
}

.btn-group-control button{
    min-width: 64px;
}

hr{
    color: lightgray;
}
