body{
    font-size: 14px;
}

canvas{
    border-radius: .25rem;
    border: 1px solid rgba(0,0,0,.125);
}

.toolbar{
    background-color: #fafafa;
    border-bottom: 1px solid #e5e5e5;
}

main {
    padding-top: 56px
}

label {
    font-weight: 500 !important;
    /* font-size: .83333rem; */
    letter-spacing: .02em;
}
